/* Section one */
.part-one {
  background-color: #cdcdcd;
  padding: 3% 0 4%;
}

.user-form label {
  display: block;
}

input {
  margin-bottom: 0.5em;
}

.submit-btn {
  display: block;
  margin-top: 20px;
}

/* Part two  */

.part-two {
  padding: 3% 0 4%;
}

.part-two form {
  max-width: 300px;
}
